.container{
    background-image: url('../images/pattern-curve.svg');
    background-repeat: no-repeat;
    background-position: bottom -100px left -50px;

    .main{
        width: 90%;
        height: 100vh;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .testimonial{
            display: flex;
            flex-direction: column;
            width: 338px;
            height: 594px;

            .image{
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 305px;
                background-image: url('../images/pattern-bg.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
    
                margin-bottom: 35px;
    
                &__user{
                    width: 75%;
                    border-radius: 5px;
                }
    
                &__buttons{
                    position: absolute;
                    bottom: 0;
                    width: 80px;
                    height: 40px;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    background-color: white;
                    border-radius: 50px;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

                    &:hover{
                        cursor: pointer;
                    }
    
                    .previous, .next{
                        transform: scale(0.8);
                        padding: 15px;
                    }
    
                }
            }
    
            .info{
                text-align: center;
                padding: 25px 10px;
                background-image: url('../images/pattern-quotes.svg');
                background-repeat: no-repeat;
                background-position: top;
                background-size: 60px;
    
                &__p{
                    font-size: 18px;
                    font-weight: 300;
                    line-height: 1.3;
                }
    
                &__span{
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    margin-top: 20px;
    
                    font-size: 15px;
                    font-weight: 700;
    
                    small{
                        color: $grayish-blue;
                        font-weight: 500;
                        font-size: 15px;
                    }
                }
            }
        }

        .hide{
            display: none;
        }
    }
}

@media screen and (min-width: 1200px) {
    .container{
        .main{
            .testimonial{
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                justify-content: center;
                width: 100%;
                max-width: 1300px;
                height: 650px;

                .image{
                    width: 80%;
                    height: 100%;
                    background-size: contain;

                    &__user{
                        width: 483px;
                        position: absolute;
                        right: 95px;
                    }

                    &__buttons{
                        left: 20%;
                        bottom: 8%;
                        width: 110px;
                        height: 55px;

                        .previous, .next{
                            transform: scale(1.0);
                        }
                    }
                }

                .info{
                    width: 80%;
                    background-position: top left 111px;
                    background-size: 110px;
                    padding: 60px 10px;
                    text-align: left;
                    position: relative;
                    left: 100px;
                    z-index: 100;

                    &__p{
                        font-size: 32px;
                    }

                    &__span{
                        margin-top: 35px;
                        font-size: 20px;
                        flex-direction: row;
                        align-items: center;
                        gap: 10px;

                        small{
                            font-size: 20px;
                        }
                    }
                }
            }

            .hide{
                display: none;
            }
        }
    }
    
}